#root {
  width: 375px; 
  height: 812px;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: hidden; 
  position: relative;
  text-align:center;
}

li{
  list-style-type: none;
  text-align:left;
}

li:hover{
  font-weight:bold;
}

.pokemon, header {
  cursor: pointer;
}