@font-face{
  font-family:'Munro';
  src: local('Munro'), url('./font/munro-small.ttf') format("truetype");
  font-weight:normal;
}

:root {
    font-family: "Munro";
    line-height: 1.5;
    font-weight: 400;
    font-size:20px;
    background-color:grey;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#root::-webkit-scrollbar{
  display:none;
}

#root {
  position: relative;
  width: 375px; 
  height: 90vh;
  background-color:white;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align:center;
  overflow-y:scroll;
  border:4px solid black;
}

html{
  cursor:url('./assets/cursor.png'), default;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  cursor: url('./assets/pointer.png'), pointer;
}

a:hover {
  color: inherit;
}

ul{
  margin-left:-40px;
  margin-top:0px;
  margin-bottom:0px;
}

li{
  list-style-type: none;
}

input, select, option{
  font-family:'Munro';
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior-y: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  font-family:inherit;
  font-size:20px;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('./assets/border.svg');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  cursor: url('./assets/pointer.png'), pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
  border-style: solid;
  border-width: 4px;
  margin:10px;
}

button:hover{
  color: #212529;
  text-decoration: none;
  background-color: #e7e7e7;
}

button::after{
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px #adafbc;
}

.active button{
  background-color:#ccc;
}

.active button::after{
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  box-shadow: inset 4px 4px #adafbc;
}

button:focus,
button:focus-visible {
  outline: none;
}