#rescue-buttons button{
    min-width:290px;
  }

  #rescue-intro{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    text-align:justify;
    font-size:18px;
    margin-bottom:-10px;
}

#rescue-popup h2{
    font-size:25px;
}
