#rescuepokemon{
  border:5px solid white;
  border-radius:10px;
  background-color:#D2635A;
  padding:10px;
  min-height:80vh;
}

#rescuepokemon button{
  margin-right:3px;
  margin-top:3px;
}

#rescuepokemon h2{
  margin:0px;
}

#rescuepokemon-wrap{
  background-color:#C78A84;
}

#rescuepokemon-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  text-align:justify;
  font-size:18px;
  margin-bottom:-10px;
}

#intro img{
  width:150px;
  height:100%;
  image-rendering: pixelated;
}

#intro p{
  padding:5px;
  min-height:90px;
}