#menu-container{
  position:fixed;
  bottom: 5%;
  width:375px;
}

#menu-container #buttons{
  background-color:#D2635A;
  border-top:1px solid #D2635A;
  border-radius:15px 15px 0px 0px;
  bottom:0;
  width:100%;
}

#menu-container button{
  padding:0px 2px;
}

#menu-container button img{
  width:30px;
  height:auto;
  object-fit: contain;
  image-rendering: pixelated;
}
