#catchlanding{
    border:5px solid white;
    border-radius:10px;
    background-color:#D2635A;
    padding:10px;
    min-height:80vh;
  }

  #catchlanding h2{
    margin:0px;
  }

  #catchlanding-wrap{
    background-color:#C78A84;
  }

  #catchlanding-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #intro{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    text-align:justify;
    font-size:18px;
    margin-bottom:-10px;
}

#intro img{
    /* background-image:url('../../../assets/grass.png');
    background-size:cover; */
    width:150px;
    height:100%;
    image-rendering: pixelated;
}

#intro p{
    padding:5px;
    min-height:90px;
}