#pokedex{
  border:5px solid white;
  border-radius:10px;
  background-color:#D2635A;
  padding:10px;
  text-align:left;
  margin-bottom:65px;
}

#pokedex-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pokedex h2{
  margin:0px;
}

#pokedex img{
  width:70px;
}

#pokedex ul{
  display:flex;
  flex-wrap: wrap;
}

#pokedex li{
  position: relative;
  width:69px;
  height:69px;
}

#pokedex li::before {
  content: "#" attr(data-id); 
  position: absolute;
  top: 0;
  left: 5px;
  width: 20px; 
  height: 20px; 
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px; 
  /* z-index:1; */
}

#pokedex a span{
  margin-left:5px;
}

#pokedex li:nth-child(even) {
  background-color: #B87165; 
}

#pokedex li:nth-child(odd) {
  background-color: #C78A84; 
}
