#pokemon-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  text-align:justify;
  font-size:15px;
  margin-bottom:-10px;
}

#pokemon-header img{
  background-image:url('../../../assets/grass.png');
  background-size:cover;
  max-width:100%;
  width:100px;
  height:100%;
  image-rendering: pixelated;
}

#pokemon-header p{
  padding:5px;
  min-height:90px;
}

#single-pokemon #details{
  font-size:15px;
  display:flex;
  justify-content: space-between;
  background-color:#A64B46;
}

#single-pokemon #stats li{
  text-align:left;
  margin-left:10px;
}

#pokedata ul{
  margin-top:20px;
}

#pokedata li{
  text-align:left;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#pokedata li span{
  background-color:#C78A84;
  padding:0px 8px;
  margin:3px 0px;
  text-align:center;
  min-width:16px;
  border:solid 1px;
  border-color: #a66e69 #da9c97 #da9c97 #a66e69;
}

#single-pokemon #type li{
  display:inline-block;
  padding:0px 10px;
  margin:10px;
}

#grass {
  border: solid 1px #4e8234; 
  background-color: #9bcc50;
}

#normal {
  border: solid 1px #a8a878; 
  background-color: #c6c6a7; 
}

#fire {
  border: solid 1px #f08030; 
  background-color: #f5ac78;
}

#water {
  border: solid 1px #6890f0; 
  background-color: #9bb8d7; 
}

#electric {
  border: solid 1px #f8d030; 
  background-color: #f9d77c; 
}

#ice {
  border: solid 1px #98d8d8; 
  background-color: #bce6e6; 
}

#fighting {
  border: solid 1px #c03028;
  background-color: #d67873; 
}

#poison {
  border: solid 1px #682a68; 
  background-color: #a040a0; 
}

#ground {
  border: solid 1px #e0c068; 
  background-color: #ebd69d; 
}

#flying {
  border: solid 1px #a890f0; 
  background-color: #c9b8f5; 
}

#psychic {
  border: solid 1px #f85888;
  background-color: #fa92b2; 
}

#bug {
  border: solid 1px #a8b820;
  background-color: #c6d16e; 
}

#rock {
  border: solid 1px #b8a038; 
  background-color: #d1cc78; 
}

#ghost {
  border: solid 1px #705898;
  background-color: #a292bc; 
}

#dragon {
  border: solid 1px #7038f8; 
  background-color: #a27dff; 
}

#dark {
  border: solid 1px #705848; 
  background-color: #a29288; 
}

#steel {
  border: solid 1px #b8b8d0; 
  background-color: #d1d1e0; 
}

#fairy {
  border: solid 1px #e79fe7;
  background-color: #f5baff; 
}