#overview nav{
    display:flex;
    flex-direction: column;
}

#overview nav button{
    margin-bottom:10px;
}

.pokemon-container {
    position: relative;
    width: 375px;
    height: 100%; 
    background-image: url('../../assets/grass_bg.png');
    background-repeat: repeat;
    background-size: contain;
    /* image-rendering: pixelated; */
  }
  
  .pokemon-container img{
    width:100px;
    image-rendering: pixelated;
  }